.page {
  background-image: linear-gradient(
    341deg,
    rgba(75, 200, 206, 0.667) 15.03894%,
    rgba(254, 190, 180, 0.667) 36.538941%,
    rgba(247, 232, 87, 0.667) 98.038942%
  );
  position: relative;
  width: 100vw;
  height: 140.98vw;
  overflow: hidden;
  justify-content: flex-center;
}

.group_1 {
  height: 46.95vw;
  background: url(./img/FigmaDDSSlicePNG5c16155b7bb3d193412a7a325c2cc27e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.07vw;
  width: 100vw;
  position: relative;
}

.text-wrapper_1 {
  width: 94.52vw;
  height: 31.81vw;
  margin: 3.95vw 0 0 3.47vw;
}

.text_1 {
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.75);
  width: 44.31vw;
  height: 12.3vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 11.11vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 11.12vw;
}

.paragraph_1 {
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.75);
  width: 44.31vw;
  height: 29.24vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 6.66vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: right;
  margin-top: 2.57vw;
}

.text-wrapper_2 {
  position: absolute;
  left: 3.48vw;
  top: 1.46vw;
  width: 35.28vw;
  height: 5.07vw;
}

.text_2 {
  width: 35.28vw;
  height: 5.07vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  font-family: Italiana-Regular;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
}

.group_2 {
  width: 100vw;
  height: 94.03vw;
  margin-bottom: 0.07vw;
}

.block_1 {
  position: relative;
  width: 81.81vw;
  height: 22.16vw;
  margin: 1.25vw 0 0 1.45vw;
}

.text-wrapper_3 {
  width: 7.09vw;
  height: 11.67vw;
  margin: 0.83vw 0 0 1.59vw;
}

.text_3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 6.81vw;
  height: 3.75vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.44vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin-left: 0.28vw;
}

.text_4 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 6.81vw;
  height: 3.82vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.44vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin-top: 4.1vw;
}

.group_3 {
  width: 73.2vw;
  height: 19.94vw;
  margin: 2.22vw 0 0 -0.06vw;
}

.text-group_1 {
  width: 73.2vw;
  height: 10.28vw;
}

.text_5 {
  width: 73.13vw;
  height: 8.62vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  margin-left: 0.07vw;
}

.text_6 {
  width: 32.78vw;
  height: 2.64vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin-top: -0.97vw;
}

.section_1 {
  width: 66.88vw;
  height: 8.2vw;
  margin-top: 1.46vw;
}

.text-wrapper_4 {
  height: 7.78vw;
  background: url(./img/FigmaDDSSlicePNG3d2ebd7fb91fc3a58a351616c668d48f.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.42vw;
  width: 21.39vw;
}

.text_7 {
  width: 15.35vw;
  height: 4.59vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 2.63vw 0 0 4.79vw;
}

.text-wrapper_5 {
  height: 7.78vw;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 21.39vw;
  margin: 0.41vw 0 0 1.31vw;
}

.text_8 {
  width: 15.35vw;
  height: 4.59vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 2.63vw 0 0 6.31vw;
}

.text-wrapper_6 {
  height: 7.78vw;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 1.39vw;
  width: 21.39vw;
}

.text_9 {
  width: 15.42vw;
  height: 4.59vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 3.05vw 0 0 6.52vw;
}

.group_4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 7.02vw;
  height: 14.87vw;
}

.section_2 {
  background-color: rgba(232, 210, 204, 1);
  width: 7.02vw;
  height: 7.02vw;
}

.section_3 {
  background-color: rgba(227, 210, 205, 1);
  width: 7.02vw;
  height: 7.02vw;
  margin-top: 0.84vw;
}

.block_2 {
  width: 75.49vw;
  height: 14.24vw;
  margin: 0.55vw 0 0 1.45vw;
}

.box_1 {
  background-color: rgba(227, 210, 205, 1);
  width: 7.02vw;
  height: 7.02vw;
  margin-top: 7.23vw;
}

.text_10 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 6.81vw;
  height: 3.82vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.44vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin: 8.05vw 0 0 -5.41vw;
}

.box_2 {
  width: 66.81vw;
  height: 13.34vw;
  margin-left: 0.28vw;
}

.group_5 {
  position: relative;
  width: 66.81vw;
  height: 7.78vw;
}

.image_1 {
  width: 21.39vw;
  height: 7.78vw;
}

.text-wrapper_7 {
  height: 7.78vw;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 1.32vw;
  width: 21.39vw;
}

.text_11 {
  width: 19.8vw;
  height: 4.66vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 2.63vw 0 0 5.06vw;
}

.text-wrapper_8 {
  height: 7.78vw;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 1.32vw;
  width: 21.39vw;
}

.text_12 {
  width: 13.34vw;
  height: 5.14vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 2.63vw 0 0 5.69vw;
}

.text_13 {
  position: absolute;
  left: 7.44vw;
  top: 2.64vw;
  width: 20.21vw;
  height: 4.66vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
}

.text_14 {
  width: 60.28vw;
  height: 3.82vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 1.73vw 0 0 0.62vw;
}

.block_3 {
  width: 66.81vw;
  height: 7.85vw;
  margin: 1.11vw 0 0 10.13vw;
}

.text-wrapper_9 {
  height: 7.78vw;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 0.07vw;
  width: 21.39vw;
}

.text_15 {
  width: 15.35vw;
  height: 4.59vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 2.5vw 0 0 5.2vw;
}

.text-wrapper_10 {
  height: 7.78vw;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 1.32vw;
  width: 21.39vw;
}

.text_16 {
  width: 15.35vw;
  height: 4.59vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 2.56vw 0 0 5.62vw;
}

.text-wrapper_11 {
  height: 7.78vw;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 21.39vw;
  margin: 0.06vw 0 0 1.31vw;
}

.text_17 {
  width: 15.35vw;
  height: 4.59vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 2.5vw 0 0 4.93vw;
}

.text-wrapper_12 {
  height: 28.89vw;
  background: url(./img/FigmaDDSSlicePNG8003c2bc089ec9adeb0548841a3849a9.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 73.2vw;
  margin: 8.05vw 0 0 9.86vw;
}

.text_18 {
  width: 41.19vw;
  height: 3.96vw;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.25);
  font-size: 2.77vw;
  font-family: Itim-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 3.05vw 0 0 2.91vw;
}

.text_19 {
  width: 112.23vw;
  height: 3.96vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 4.58vw 0 1.38vw 1.45vw;
}
