.page {
  background-image: linear-gradient(
    341deg,
    rgba(75, 200, 206, 0.667) 15.03894%,
    rgba(254, 190, 180, 0.667) 36.538941%,
    rgba(247, 232, 87, 0.667) 98.038942%
  );
  position: relative;
  width: 1440px;
  height: 2030px;
  overflow: hidden;
  justify-content: flex-center;
}

.group_1 {
  height: 676px;
  background: url(./img/FigmaDDSSlicePNG5c16155b7bb3d193412a7a325c2cc27e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 1px;
  width: 1440px;
  position: relative;
}

.text-wrapper_1 {
  width: 1361px;
  height: 458px;
  margin: 57px 0 0 50px;
}

.text_1 {
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.75);
  width: 638px;
  height: 177px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 160px;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 160px;
}

.paragraph_1 {
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.75);
  width: 638px;
  height: 421px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 96px;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: right;
  margin-top: 37px;
}

.text-wrapper_2 {
  position: absolute;
  left: 50px;
  top: 21px;
  width: 508px;
  height: 73px;
}

.text_2 {
  width: 508px;
  height: 73px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: Italiana-Regular;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.group_2 {
  width: 1440px;
  height: 1354px;
  margin-bottom: 1px;
}

.block_1 {
  position: relative;
  width: 1178px;
  height: 319px;
  margin: 18px 0 0 21px;
}

.text-wrapper_3 {
  width: 102px;
  height: 168px;
  margin: 12px 0 0 23px;
}

.text_3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 98px;
  height: 54px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 64px;
  margin-left: 4px;
}

.text_4 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 98px;
  height: 55px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 64px;
  margin-top: 59px;
}

.group_3 {
  width: 1054px;
  height: 287px;
  margin: 32px 0 0 -1px;
}

.text-group_1 {
  width: 1054px;
  height: 148px;
}

.text_5 {
  width: 1053px;
  height: 124px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  margin-left: 1px;
}

.text_6 {
  width: 472px;
  height: 38px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin-top: -14px;
}

.section_1 {
  width: 963px;
  height: 118px;
  margin-top: 21px;
}

.text-wrapper_4 {
  height: 112px;
  background: url(./img/FigmaDDSSlicePNG3d2ebd7fb91fc3a58a351616c668d48f.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 6px;
  width: 308px;
}

.text_7 {
  width: 221px;
  height: 66px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 38px 0 0 69px;
}

.text-wrapper_5 {
  height: 112px;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 308px;
  margin: 6px 0 0 19px;
}

.text_8 {
  width: 221px;
  height: 66px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 38px 0 0 91px;
}

.text-wrapper_6 {
  height: 112px;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 20px;
  width: 308px;
}

.text_9 {
  width: 222px;
  height: 66px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 44px 0 0 94px;
}

.group_4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 101px;
  height: 214px;
}

.section_2 {
  background-color: rgba(232, 210, 204, 1);
  width: 101px;
  height: 101px;
}

.section_3 {
  background-color: rgba(227, 210, 205, 1);
  width: 101px;
  height: 101px;
  margin-top: 12px;
}

.block_2 {
  width: 1087px;
  height: 205px;
  margin: 8px 0 0 21px;
}

.box_1 {
  background-color: rgba(227, 210, 205, 1);
  width: 101px;
  height: 101px;
  margin-top: 104px;
}

.text_10 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 98px;
  height: 55px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 64px;
  margin: 116px 0 0 -78px;
}

.box_2 {
  width: 962px;
  height: 192px;
  margin-left: 4px;
}

.group_5 {
  position: relative;
  width: 962px;
  height: 112px;
}

.image_1 {
  width: 308px;
  height: 112px;
}

.text-wrapper_7 {
  height: 112px;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 19px;
  width: 308px;
}

.text_11 {
  width: 285px;
  height: 67px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 38px 0 0 73px;
}

.text-wrapper_8 {
  height: 112px;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 19px;
  width: 308px;
}

.text_12 {
  width: 192px;
  height: 74px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 38px 0 0 82px;
}

.text_13 {
  position: absolute;
  left: 107px;
  top: 38px;
  width: 291px;
  height: 67px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
}

.text_14 {
  width: 868px;
  height: 55px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 25px 0 0 9px;
}

.block_3 {
  width: 962px;
  height: 113px;
  margin: 16px 0 0 146px;
}

.text-wrapper_9 {
  height: 112px;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: 1px;
  width: 308px;
}

.text_15 {
  width: 221px;
  height: 66px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 36px 0 0 75px;
}

.text-wrapper_10 {
  height: 112px;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-left: 19px;
  width: 308px;
}

.text_16 {
  width: 221px;
  height: 66px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 37px 0 0 81px;
}

.text-wrapper_11 {
  height: 112px;
  background: url(./img/FigmaDDSSlicePNG5c94dbbe412e7cae35004826fa53fa7e.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 308px;
  margin: 1px 0 0 19px;
}

.text_17 {
  width: 221px;
  height: 66px;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 36px 0 0 71px;
}

.text-wrapper_12 {
  height: 416px;
  background: url(./img/FigmaDDSSlicePNG8003c2bc089ec9adeb0548841a3849a9.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1054px;
  margin: 116px 0 0 142px;
}

.text_18 {
  width: 593px;
  height: 57px;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-family: Itim-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 44px 0 0 42px;
}

.text_19 {
  width: 1616px;
  height: 57px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 40px;
  margin: 66px 0 20px 21px;
}
