.page {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  width: 1440px;
  height: 2688px;
  overflow: hidden;
}

.image_1 {
  height: 563px;
  background: url(./img/FigmaDDSSlicePNGb36a38371a56afff48719646436724e9.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-top: -1px;
  width: 1440px;
}

.text_11 {
  width: 1014px;
  height: 144px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 160px;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 160px;
  margin: 42px 0 0 213px;
}

.block_1 {
  height: 2126px;
  background: url(./img/FigmaDDSSlicePNG770ba6c828b80151fcdc53c62049f77c.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 1440px;
}

.text-wrapper_2 {
  width: 1330px;
  height: 257px;
  margin: 9px 0 0 9px;
}

.text_1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 506px;
  height: 124px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 96px;
  font-family: Libre Caslon Text-Regular;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 96px;
  margin-top: 67px;
}

.text_2 {
  width: 649px;
  height: 257px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 96px;
  font-family: Libre Caslon Text-Regular;
  font-weight: NaN;
  text-align: center;
}

.group_1 {
  width: 1355px;
  height: 1601px;
  margin: 27px 0 232px 54px;
}

.text-wrapper_3 {
  width: 415px;
  height: 1264px;
}

.text_3 {
  width: 415px;
  height: 90px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: SimSun;
  text-decoration: none;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 64px;
}

.text_3,
.text_4,
.text_5,
.text_6,
.text_7,
.text_8,
.text_9 {
  position: relative;
  cursor: pointer;
  /* 显示手型光标 */

}

.text_3::after,
.text_4::after,
.text_5::after,
.text_7::after,
.text_8::after,
.text_9::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  /* 调整横线的位置 */
  width: 100%;
  height: 5px;
  /* 横线的粗细 */
  background-color: rgba(255, 255, 255, 1);
  /* 横线的颜色 */
  transform: scaleX(0);
  /* 初始状态，横线不显示 */
  transform-origin: left;
  /* 横线从左向右展开 */
  transition: transform 0.3s ease;
  /* 过渡效果 */
}

.text_6::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -75px;
  /* 调整横线的位置 */
  width: 100%;
  height: 5px;
  /* 横线的粗细 */
  background-color: rgba(255, 255, 255, 1);
  /* 横线的颜色 */
  transform: scaleX(0);
  /* 初始状态，横线不显示 */
  transform-origin: left;
  /* 横线从左向右展开 */
  transition: transform 0.3s ease;
  /* 过渡效果 */
}

.text_3:hover::after,
.text_4:hover::after,
.text_5:hover::after,
.text_6:hover::after,
.text_7:hover::after,
.text_8:hover::after,
.text_9:hover::after {
  transform: scaleX(1);
  /* 鼠标悬浮时，横线完全显示 */
}

.text_4 {
  width: 388px;
  height: 90px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: SimSun;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 64px;
  margin: 106px 0 0 13px;
}

.text_5 {
  width: 391px;
  height: 90px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: SimSun;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 64px;
  margin: 105px 0 0 13px;
}

.text_6 {
  width: 402px;
  height: 90px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: SimSun;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 64px;
  margin: 73px 0 0 6px;
  line-height: 1.1;
}

.text_7 {
  width: 391px;
  height: 90px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: SimSun;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 64px;
  margin: 138px 0 0 13px;
}

.text_8 {
  width: 391px;
  height: 90px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: SimSun;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 64px;
  margin: 106px 0 0 17px;
}

.text_9 {
  width: 391px;
  height: 90px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 64px;
  font-family: SimSun;
  font-weight: NaN;
  text-align: center;
  white-space: nowrap;
  line-height: 64px;
  margin: 106px 0 0 13px;
}

.paragraph_1 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 791px;
  height: 1570px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 26px;
  font-family: STSong;
  font-weight: 700;
  text-align: left;
  margin-top: 0px;
  line-height: 1.6;
  margin-bottom: 5px;
}
