.page {
  background-color: rgba(11, 41, 51, 1);
  position: relative;
  width: 100vw;
  height: 160.21vw;
  overflow: hidden;
}

.box_1 {
  position: relative;
  width: 107.16vw;
  height: 53.41vw;
  background: url(./img/FigmaDDSSlicePNG5fb272634fe3e7fb56a294fb25e7418e.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.text_20 {
  width: 35.28vw;
  height: 5.07vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  font-family: Italiana-Regular;
  text-decoration: underline;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 0.69vw 0 0 1.87vw;
}

.text-wrapper_2 {
  text-shadow: 7px 5px 4px rgba(255, 255, 255, 0.25);
  width: 38.27vw;
  height: 29.59vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 6.66vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: right;
  margin: 4.79vw 9.58vw 0 22.15vw;
}

.text_1 {
  text-shadow: 7px 5px 4px rgba(255, 255, 255, 0.25);
  position: absolute;
  left: 1.25vw;
  top: 3.75vw;
  width: 39.94vw;
  height: 11.39vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 11.11vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 11.12vw;
}

.box_3 {
  position: relative;
  width: 100vw;
  height: 106.88vw;
  margin-bottom: 0.07vw;
}

.group_3 {
  width: 86.25vw;
  height: 19.31vw;
  margin: 3.88vw 0 0 1.87vw;
}

.box_4 {
  width: 8.82vw;
  height: 19.31vw;
}

.text-wrapper_3 {
  background-color: rgba(113, 164, 168, 1);
  height: 8.48vw;
  width: 8.82vw;
}

.text_8 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 4.31vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.44vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin: 1.59vw 0 0 2.22vw;
}

.text-wrapper_4 {
  background-color: rgba(113, 164, 168, 1);
  height: 8.48vw;
  margin-top: 2.37vw;
  width: 8.82vw;
}

.text_9 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 4.31vw;
  height: 5.28vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.44vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 4.45vw;
  margin: 1.59vw 0 0 2.22vw;
}

.text-group_3 {
  width: 75.49vw;
  height: 14.17vw;
  margin-top: 3.13vw;
}

.text_10 {
  width: 75.49vw;
  height: 11.88vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
}

.text_11 {
  width: 41.05vw;
  height: 3.69vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin-top: -1.38vw;
}

.group_4 {
  width: 82.57vw;
  height: 22.78vw;
  margin: 0.62vw 0 60.27vw 12.63vw;
}

.grid_2 {
  width: 82.57vw;
  height: 22.78vw;
  flex-wrap: wrap;
}

.text-wrapper_5 {
  height: 10.77vw;
  background: url(./img/FigmaDDSSlicePNGebfce8c02fe731fff45e4aa0275df381.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 26.81vw;
  margin: 0 1.31vw 1.25vw 0;
}

.text_12 {
  width: 19.24vw;
  height: 6.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  margin: 3.81vw 0 0 7.56vw;
}

.text-wrapper_6 {
  height: 10.77vw;
  background: url(./img/FigmaDDSSlicePNGebfce8c02fe731fff45e4aa0275df381.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 26.81vw;
  margin: 0 0.83vw 1.25vw 0;
}

.text_13 {
  width: 19.24vw;
  height: 6.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  margin: 3.81vw 0 0 7.84vw;
}

.text-wrapper_7 {
  height: 10.77vw;
  background: url(./img/FigmaDDSSlicePNGebfce8c02fe731fff45e4aa0275df381.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-bottom: 1.25vw;
  width: 26.81vw;
}

.text_14 {
  width: 19.31vw;
  height: 6.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  margin: 3.81vw 0 0 7.98vw;
}

.text-wrapper_8 {
  height: 10.77vw;
  background: url(./img/FigmaDDSSlicePNGebfce8c02fe731fff45e4aa0275df381.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 26.81vw;
  margin: 0 1.31vw 1.25vw 0;
}

.text_15 {
  width: 19.24vw;
  height: 6.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  margin: 4.16vw 0 0 4.09vw;
}

.text-wrapper_9 {
  height: 10.77vw;
  background: url(./img/FigmaDDSSlicePNGebfce8c02fe731fff45e4aa0275df381.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 26.81vw;
  margin: 0 0.83vw 1.25vw 0;
}

.text_16 {
  width: 19.31vw;
  height: 6.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  margin: 4.16vw 0 0 7.77vw;
}

.text-wrapper_10 {
  height: 10.77vw;
  background: url(./img/FigmaDDSSlicePNGebfce8c02fe731fff45e4aa0275df381.png)
    100% no-repeat;
  background-size: 100% 100%;
  margin-bottom: 1.25vw;
  width: 26.81vw;
}

.text_17 {
  width: 19.24vw;
  height: 6.39vw;
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 1);
  font-size: 2.77vw;
  font-family: Abhaya Libre ExtraBold-Regular;
  font-weight: NaN;
  text-align: left;
  margin: 4.16vw 0 0 4.72vw;
}

.block_3 {
  background-image: linear-gradient(
    180deg,
    rgba(30, 39, 62, 0.5) 33.500001%,
    rgba(81, 104, 164, 1) 100%
  );
  height: 26.39vw;
  width: 120vw;
  position: absolute;
  left: -0.69vw;
  top: 80.49vw;
}

.text_18 {
  width: 98.75vw;
  height: 3.96vw;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 2.77vw;
  font-family: Italiana-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 20.34vw 0 0 1.94vw;
}

.text-wrapper_11 {
  height: 34.45vw;
  background: url(./img/FigmaDDSSlicePNG14d48d704318cb42815d3111e2b128fd.png)
    100% no-repeat;
  background-size: 100% 100%;
  width: 84.94vw;
  position: absolute;
  left: 13.34vw;
  top: -25.83vw;
}

.text_19 {
  width: 41.19vw;
  height: 3.96vw;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  color: rgba(0, 0, 0, 0.25);
  font-size: 2.77vw;
  font-family: Itim-Regular;
  font-weight: NaN;
  text-align: left;
  white-space: nowrap;
  line-height: 2.78vw;
  margin: 3.75vw 0 0 4.09vw;
}
